

.box {
    width: auto;
    height: auto;
    border: 2px solid #F7F7F7;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.box img {
    display: block;
    width: 100%;
}

.box h4 {
    padding-left: 10px;
    font-weight: 700;
    margin-bottom: 4px;
}

.box p {
    padding-left: 10px;
    font-weight: 300;
    margin-top: 4px;
    padding-bottom: 10px;
}

.container {
    margin-top: 20px;
}

.header {
    width: 100%;
    background-color: #EFBC44;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 4px;
}

.header h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0px;
}